body{
	background-color: #d9d593;
}
h1{
	text-align: center;
	color: #bc162a;
	font-size: 50px;
	border: 10px double #bc162a;

}
h2{
	text-align: center;
	color: #302325;
	font-size: 30px
}
b{
	color: #ee7f27;
	font-size: 20px;
}
p{
	text-align: justify;
}

#image01{
	width: 25%;
	border: 10px double #bc162a;
	margin: 40px;
	padding: 10px;
}
.chocquente{
	background-color: #bc162a;
	font-size: 20px;
	border: 10px double #d9d593;
}

.choc{
	background-color: #d9d593;
	border: 10px double #bc162a;
}
