body{
	background-color: #d9d593;
}
h2{
	text-align: center;
	color: #bc162a;
	font-size: 50px;
	border: 10px double #bc162a;

}
h3{
	text-align: center;
	color: #302325;
	font-size: 30px
}
b{
	color: #ee7f27;
	font-size: 20px;
}
p{
	text-align: justify;
}

#image01{
	width: 25%;
	border: 10px double #bc162a;
	margin: 40px;
	padding: 10px;
}

.chocquente{
	background-color: #bc162a;
	border: 10px double #d9d593;
}
.exemplo{
	padding: 2%;
}
ul{
	display: inline-block;
	vertical-align:top;
	padding: 2%;
}

/*.choc{
	background-color: #d9d593;
	border: 10px double #bc162a;
	display: inline-block;

}
.chocquen{
	background-color: #bc162a;
	font-size: 20px;
	border: 10px double #d9d593;
	display: inline-block;
}*/

header{
	background-color: #bc162a;
}
h1{
	text-align: center;
	color: black;
	font-size: 50px;
}
.cabecalho{
	border: 20px double #d9d593;
}
.ii{
	font-size: 50px;
	display: inline-block;
	border: 10px solid #ffffff;
	padding: 2%
	color:black;
	text-align: left;
}
.exemplo2{
	padding: 2%;
	margin-left: 43%;
}
